@model IEnumerable<DATA.Models.PreProductionDetails>
@{
    ViewData["Title"] = "Order Pre-Production";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}


<link href="~/Datatable/css/jquery.datatables.css" rel="stylesheet" />
<link href="~/Datatable/css/jquery.datatables.min.css" rel="stylesheet" />
<link href="~/Datatable/css/datatables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Datatable/css/datatables.bootstrap4.css" rel="stylesheet" />
<link href="~/fontawesome-free-6.4.0-web/css/all.css" rel="stylesheet" />
<link href="~/Datatable/css/select.dataTables.css" rel="stylesheet" />
<link href="~/Datatable/css/select.dataTables.min.css" rel="stylesheet" />

<link href="~/css/jquery-ui.css" rel="stylesheet" /> @*-----------RowDrag---------*@
<link href="~/css/select2.min.css" rel="stylesheet" />@*---------------------- Multiselect CSS -----------*@

@*<h2 style="color:skyblue">Preproduction Orders</h2>*@


<style>
    .breakpoint-ppseqno {
        font-size: 1.5rem;
        color: #0056b3;
        font-weight: bold;
        background-color: #e8f0fe;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #0056b3;
    }

    .btnAbound {
        border: none;
        border-radius: 5px;
    }

    #Table tbody tr.selected { /* -------Row Drag----------*/
        cursor: move;
    }
</style>
<style>
    #Table tbody tr td {
        position: relative;
    }

    .row-arrow-btn {
        position: absolute;
        right: 0px;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 2px 6px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
        width: 35px;
    }

        .row-arrow-btn.up {
            top: 30%;
            transform: translateY(-50%);
        }

        .row-arrow-btn.down {
            top: 70%;
            transform: translateY(-50%);
        }
</style>  @**  ----------------- Row shffel in Database-----------------*/*@

<style>
    /* Keep the select2 selection box single-line, fixed height */
    .select2-container .select2-selection--multiple {
        min-height: 38px; /* match Bootstrap input height */
        height: 38px; /* fixed height */
        overflow: hidden; /* hide extra tags */
        white-space: nowrap;
    }

        /* Prevent wrapping of selected items */
        .select2-container .select2-selection--multiple .select2-selection__rendered {
            display: flex;
            flex-wrap: nowrap; /* no wrapping */
            overflow-x: hidden; /* hide horizontal scroll */
            overflow-y: hidden; /* hide vertical overflow */
        }

        /* Optional: show ellipsis when overflow */
        .select2-container .select2-selection--multiple .select2-selection__choice {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100px; /* limit each tag width */
        }
</style> @*---------------------- Multiselect CSS -----------*@
@if (TempData["PPseqNotFound"] != null)
{
    <div class="alert alert-danger" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i>&nbsp; &nbsp; <strong>@TempData["PPseqNotFound"]</strong>
    </div>

}
@*@if (TempData["PPSeqNo"] != null)
    {
    <div class="alert alert-info" role="alert" style="margin-bottom: 20px;">
        <strong>Auto Mode Breakpoint PPSeqNo:</strong>
        <span class="breakpoint-ppseqno">@TempData["PPSeqNo"]</span>
    </div>
    }*@

<div class="row" id="divFilter">

    <div class="col-3" style="align-self: center;">
        <div class="row">
            <div class="col-5">
                <label style="color:#337ab7;" class="form-label">Select Vcode</label>
            </div>
            <div class="col-7">
                <form method="get">

                    @Html.ListBox(
                        "erpCode",
                        ViewBag.V_list as SelectList,
                        new { @class = "form-control", id = "ErpVcodeDropdown", multiple = "multiple" }
                    )

                </form>
            </div>
        </div>

    </div>

    <div class="col-4" style="display:flex;">
        &nbsp; <label style="color:#337ab7;display: flex;align-items: center;" class="form-label">Enter No</label>
        <input type="number" id="fromPpseq" min="1" value="0" class="form-control" style="    height: 40px;    width: 100px;    margin: 6px;" />
        <input type="number" id="toPpseq" min="1" value="0" class="form-control" style="    height: 40px;    width: 100px;    margin: 6px;" />
        <input type="button" id="btnselect" value="Select Rows" class="btn btn-primary" />
    </div>
    <div class="col-3 d-flex justify-content: center  gap-2" id="buttonContainer">
        @*<label>Sorting</label>
            <label class="switch">
                <input type="checkbox" id="sortingToggle">
                <span class="slider"></span>
            </label>*@
    </div>

    <div class="col-2" style="align-content:flex-end"> <h6 id="RowcountDisplay" style="color:#337ab7"></h6></div>
</div>
@* <br />

    <div class="row" style="margin-bottom:20px;display:flex">
    </div> *@

<style>
    th {
        background-color: skyblue;
    }

    .dataTables_length {
        margin-bottom: 10px;
    }

    .status-red {
        color: red !important;
        font-weight: bold !important;
        /* background-color: black !important;*/
    }

    .status-blue {
        color: #5bc0de !important; /* Text color for status 100 */
        font-weight: bold !important;
        /* background-color: #5bc0de !important;*/
    }


    .col-status {
        display: none;
    }

    table#Table {
        width: 100% !important;
    }
</style>




<table class="display compact" id="Table">
    <thead>
        <tr>
            @*<th style="width:40px;"></th>*@
            <th style="width:42.8438px"><input style="margin-left:10px;width:25px;" type="checkbox" id="select-all-checkbox" /></th>

            <th>
                @Html.DisplayNameFor(model => model.PPSeqNo)
            </th>
            <th>
                Item ID
            </th>
            <th>
                Biw No
            </th>
            <th>
                VCode
            </th>
            <th>
                Model Code
            </th>
            <th>
                File Name
            </th>
            <th>
                Import Date
            </th>
            <th class="col-status">
                Status
            </th>


        </tr>
    </thead>
    <tbody>
        @*@{ int i = 1;}*@
        @foreach (var item in Model)
        {
            var rowClass = item.Status == 1 ? "status-red" : "";
            <tr class="@rowClass">
                <td class="select-checkbox"></td>

                <td id="PPSeqNo">
                    @Html.DisplayFor(modelItem => item.PPSeqNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BiwNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIimport)

                </td>
                <td class="col-status" id="Status">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>



            </tr>
            //i++;
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/Datatable/js/jquery.datatables.min.js"></script>
    <script src="~/Datatable/js/jquery.datatables.js"></script>
    <script src="~/Datatable/js/dataTables.select.js"></script>
    <script src="~/Datatable/js/dataTables.select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>    @*-----------RowDrag---------*@

    <!-- Bootstrap Multiselect JS -->
    <script src="~/js/select2.min.js"></script>

    @*<script src="~/ProjectJsFile/PreProduction.min.js"></script>*@



    @*<script src="~/ProjectJsFile/PreProduction.js"></script>*@

  
  
    <script>
        $(document).ready(function () {
            $('#ErpVcodeDropdown').select2({
                placeholder: "Select Vcodes",
                allowClear: true
            }).on('change', function () {
                $(this).closest('form').submit();
            });

            // Detect hard reload
            if (performance.navigation.type === 1) { // 1 = Reload
                $('#ErpVcodeDropdown').val(null).trigger('change');
            }
        });
    </script>


}
